/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%; }

.about {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  height: 87.5vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.aboutTitle {
  cursor: pointer;
  width: 100%;
  height: 6.8vh;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .aboutTitle__text {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem; }

.aboutContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  overflow-y: auto; }

.aboutText {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  overflow-y: auto;
  padding: 0 3.2rem;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  line-height: 3.2rem; }
  @media (min-width: 600px) {
    .aboutText {
      padding: 0 10rem; } }
  @media (min-width: 1200px) {
    .aboutText {
      padding: 0 20rem; } }
  @media (min-width: 1800px) {
    .aboutText {
      padding: 0 30rem; } }
  .aboutText__text {
    margin-bottom: 3rem; }
  .aboutText__link {
    font-weight: 600;
    color: #000;
    position: relative;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    -o-transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }
    .aboutText__link::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 5%;
      left: 0;
      bottom: 0;
      background-color: #000;
      -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
      -o-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
      transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }
    .aboutText__link:hover {
      color: white; }
      .aboutText__link:hover::after {
        height: 100%; }

.blobContainer {
  position: absolute;
  display: block;
  z-index: -100;
  width: 90%;
  height: 90%;
  -webkit-animation: color 30s linear infinite;
          animation: color 30s linear infinite;
  display: -ms-flexbox;
  display: flex; }
  .blobContainer-blob {
    position: relative;
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 8; }

.projects {
  position: fixed;
  z-index: 2;
  top: 87.5vh;
  background-color: #EE6C4D;
  height: 87.8vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease; }
  .projects:hover {
    top: 86.5vh; }
  .projects.--is-open {
    top: 6vh; }

.projectsTitle {
  cursor: pointer;
  width: 100%;
  height: 6.8vh;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .projectsTitle__text {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    color: #ECE4B7; }

.projectsNav {
  position: relative;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #ECE4B7;
  font-family: "Rubik", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  overflow-y: auto;
  -webkit-transition: all ease 2s;
  -o-transition: all ease 2s;
  transition: all ease 2s; }
  .projectsNav.--is-active .projectsNav__title {
    opacity: 0.5;
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s; }
    .projectsNav.--is-active .projectsNav__title:hover {
      opacity: 1; }
  .projectsNav__list {
    height: 90%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .projectsNav__item {
    margin: 2rem 0; }
  .projectsNav__title {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0.5rem;
    -webkit-transition: opacity ease 0.6s;
    -o-transition: opacity ease 0.6s;
    transition: opacity ease 0.6s; }
    @media (min-width: 600px) {
      .projectsNav__title:hover + .projectsNav__tagline {
        opacity: 1; } }

@media (min-width: 600px) and (min-width: 949px) {
  .projectsNav__title:hover ~ .projectsNav__img {
    opacity: 0.5; } }
  .projectsNav__link {
    text-decoration: none;
    color: inherit; }
  .projectsNav__tagline {
    cursor: default;
    opacity: 1;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s; }
    @media (min-width: 600px) {
      .projectsNav__tagline {
        opacity: 0; } }
  .projectsNav__img {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .projectsNav__img.--eigaImg {
      background-image: url("0f20650b356f2f800f2a70570bd2a242.png"); }
    .projectsNav__img.--kwintImg {
      background-image: url("41b3e6dd801c7464b1ab1c858ad6cf57.png"); }
    .projectsNav__img.--fixieImg {
      background-image: url("fe7b32c4b726adfe820b31c523de5bb6.png"); }
    .projectsNav__img.--illuImg {
      background-image: url("9ede08911e051319ba221cd584e7b04d.png"); }

.more {
  position: fixed;
  z-index: 3;
  top: 93.8vh;
  background-color: #47FFDE;
  height: 88vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -webkit-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease; }
  .more:hover {
    top: 92.8vh; }
  .more.--is-open {
    top: 12vh; }

.moreTitle {
  cursor: pointer;
  width: 100%;
  height: 6.8vh;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .moreTitle__text {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    color: #8466DE; }

.moreContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.moreText {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  overflow-y: auto;
  padding: 0 3.2rem;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  line-height: 3.2rem; }
  @media (min-width: 600px) {
    .moreText {
      padding: 0 10rem; } }
  @media (min-width: 1200px) {
    .moreText {
      padding: 0 20rem; } }
  @media (min-width: 1800px) {
    .moreText {
      padding: 0 30rem; } }
  .moreText__text {
    margin-bottom: 3rem; }
  .moreText__link {
    font-weight: 600;
    color: #000;
    position: relative;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    -o-transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    transition: color cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }
    .moreText__link::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 5%;
      left: 0;
      bottom: 0;
      background-color: #000;
      -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
      -o-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
      transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }
    .moreText__link:hover {
      color: white; }
      .moreText__link:hover::after {
        height: 100%; }
